body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background-color: lightblue;
	overflow: auto;
}

#ajax {
	position: fixed;
	top: 200px;
	left: 50px;
	font-family: "Comic Sans MS";
	font-size: 30px;
}

#infobutton {
	position: fixed;
	left: 10px;
	top: 17.5px;
	border-radius: 5px;
	width: 32px;
	height: 32px;
	padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
	
}

#scoresbutton{
	position: fixed;
	left: 330px;
	top: 20px;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
	
}

#scorelist{
	position: fixed;
	top: 40px;
	font-size: 20px;
	font-weight: bold;
	font-family: "Comic Sans MS";
	
}

#gametitle{
		position: fixed;
		left: 30px;
		top: 80px;
		z-index: -1;
		font-weight: bold;
		font-size: 30px;
		font-family: "Comic Sans MS";
		color: black;
		
}	

#playbutton{
	position: fixed;
	left: 130px;
	top: 230px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 1px solid #000;
	background-color: orange;
	color: white;
	font-weight: bold;
	font-size: 100%;
	font-family: "Comic Sans MS";
}

#instructions{
	position: fixed;
	top: 30px;
	font-family: "Comic Sans MS";
	height: 1000px;
	overflow: scroll;
}

#backbutton{
	position: fixed;
	left: 0px;
	top: 10px;
	width: 50px;
	height: 30px;
	border-radius: 5px;
}

#hourglass{
	position: fixed;
	top: 75px;
	left: 40px;
}

#pleasewait{
	position: fixed;
	top: 30px;
	left: 70px;
	font-size: 30px;
	font-family: "Comic Sans MS";
}

#timerid{
	position: fixed;
	top: 50px;
	left: 100px;
	font-size: 30px;
	font-family: "Comic Sans MS";
}

#buttontostart {
	position: fixed;
	left: 10px;
	top: 250px;
	z-index: -1;
	font-size: 100%;
	font-weight: bold;
	border-radius: 20px;
	width: 350px;
	height: 80px;
	font-family: "Comic Sans MS";
}

#gametimer{
	position: fixed;
	left: 80px;
	top: 70px;
	font-size: 50px;
	font-family: "Comic Sans MS";
	font-weight: bold;
}



#heart1 {
	position: fixed;
	left: 13px;
	top: 17.5px;
	z-index: -1;
}

#lives {
	position: fixed;
	left: 30px;
	top: 0px;
	font-weight: bold;
	font-size: 100%;
	font-family: "Comic Sans MS";
}

#score {
	position: fixed;
	left: 220px;
	top: 0px;
	z-index: -1;
	font-weight: bold;
	font-size: 100%;
	font-family: "Comic Sans MS";
}

#homebutton{
	position: fixed;
	left: 330px;
	top: 10px;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}


#speech_status {
	position: fixed;
	left: 80px;
	top: 70px;
	z-index: -1;
}

#speech_status_text {
	position: fixed;
	left: 100px;
	top: 50px;
	z-index: -1;
	font-family: "Comic Sans MS";
}
#speechresult {
	position: fixed;
	left: 70px;
	top: 50px;
	z-index: -1;
	font-family: "Comic Sans MS";
}

#minpairs{
		position: fixed;
		left: 80px;
		top: 90px;
		z-index: -1;
		font-weight: bold;
		font-size: 40px;
		font-family: "Comic Sans MS";
		color: gray;
		
}	

#oldminpair {
		position: fixed;
		left: 110px;
		top: 190px;
		z-index: -1;
		font-family: "Comic Sans MS";
		font-size: 13px;
	
}

#speech_button {
	position: fixed;
	left: 10px;
	top: 250px;
	z-index: -1;
	font-size: 100%;
	font-weight: bold;
	border-radius: 20px;
	width: 350px;
	height: 80px;
	font-family: "Comic Sans MS";
}

#speech_output {
	position: fixed;
	left: 110px;
	top: 350px;
	z-index: -1;
	font-family: "Comic Sans MS";
	font-size: 13px;
	
}

